*{
    padding:0;
    margin:0;
    list-style-type:none;
    box-sizing:border-box;

}
#header{
    width:1366px;
    height:92.51px;
    position:relative;
}
.black-logo{
    margin-left:62px;
    width:159px;
    height:100px;
}
.link{
    font-family:'Montserrat',sans-serif;
    text-decoration:none;
    top:-2;
    font-weight:500;
    color:black;
    font-size:18px;
    margin-left:2.5%;

    
}
.vector{
    width:1490px;
    height:100px;
    margin-top:1%;
    
}
.container{
    width:1490px;
    position:relative;
   
}
.background{
   
    width:1490px;
    height:80vh;
    position:absolute;
    margin-left:-1490px;
    z-index:-9;
    margin-top:3%;
}
.container-inner-content{
    width:1400px;
    height:40vh;
    position:absolute;
    margin-top:45%;
    text-align:center;
}
.maincontent{
    width:700px;
    font-size:18px;
    font-family:'Montserrat',sans-serif;
    letter-spacing:1px;
    margin-left:33%;
    height:4vh;
    font-weight:400;
   
}
.vector2{
    width:1490px;
    height:100px; 
    margin-top:65%;
   
    position:absolute;
    margin-top:-1%;
    z-index:9;
}
.image-section{
    width: 1490px;
    height:50vh;
   
}
.row{
    position:relative;
    width:1490px;
    height:50vh;
    margin-top:65%;
   
}
img{
    width:356px;
    z-index:-9;
}
.col-img3{
    position:absolute;
    
}
.col-img6{
    height:600px;
    position:absolute;
    width:450px;
    margin-top:-3%;
}
.vector3{
 
    width:1490px;
    height:100px;
    margin-top:-3%;
    z-index:9; 
    position:absolute;
}
.row2{
    width:100%;
    height:40vh;
    display:flex;
    margin-top:10%;
    position:relative;
}
.col{
    width:650px;
    height:6vh;
    margin-left:8%;
}
.sub-head{
    font-family:'Oswald',sans-serif;
    font-size:24px;
    color:#2F4858;
    
}
.col1{
    margin-left:11%;
}
.sub-link{
    text-decoration:none;
    color:#fff;
    background:
    #FFA800;
    margin-top:3%;
    position:absolute;
    width:300px;
    text-align:center;
    margin-left:1%;
    font-size:20px;
    font-family:'Montserrat',sanserif;
    padding:15px 1px;
    border-radius:50px;

}
.form-section{
    width:100%;
    height:50vh;
    margin-top:30%;
}
.form-heading{
    text-align:center;
    font-family:'Oswald',sanserif;
    color:#2F4858;
}
form{
    margin-left:30%;
    margin-top:3%;
}
.name{
    width:296px;
    height:44px;
    background:rgba(196, 196, 196, 0.4);
    border-radius: 6px;
    border:none;
    font-family:'Montserrat',sanserif;
    font-size:18px;
    padding-left:2px;
    font-weight:400;
}
.email{
    width:296px;
    height:44px;
    margin-left:1%;
    background:rgba(196, 196, 196, 0.4);
border-radius: 6px;
border:none;
font-family:'Montserrat',sanserif;
font-size:18px;
padding-left:2px;
font-weight:400;
}
.number{
    margin-top:2%;
    width:608px;
    height:44px;
    background:rgba(196, 196, 196, 0.4);
border-radius: 6px;
border:none;
font-family:'Montserrat',sanserif;
font-size:18px;
padding-left:2px;
font-weight:400;
}
.description{
    width:608px;
    height:232px;
    margin-top:2%;
    background:rgba(196, 196, 196, 0.4);
border-radius: 6px;
border:none;
font-family:'Montserrat',sanserif;
font-size:18px;
padding-left:2px;
font-weight:400;
}
.imp-text{
    font-family:'Montserrat',sans-serif;
    font-weight:400;
    margin-left:30%;
    color:#2F4858;
    margin-top:1%;
}
.check-box{
    display:flex;
    font-family:'Montserrat',sans-serif;
    margin-left:30%;
    margin-top:2%;
}
.check-text{
    margin-left:2%;
    width:550px;
    font-family:'Montserrat',sans-serif;
    font-weight: 400;
}
.check{
    background:rgba(196, 196, 196, 0.4);
    border:none;
}
.btn{
    margin-left:44%;
    font-family:'Montserrat',sans-serif;
    color:#fff;
    font-size:21px;
    background:#FFA800;
    border:none;
    width:200px;
    margin-top:2%;
    height:45px;
    border-radius:50px;
    padding:15px 1px;
    text-align:center;
}
.vector5{
    width:1490px;
    height:130px; 
    position:absolute;
    
    margin-top:24%;
    z-index:9;
}
.vector6{
    width:1490px;
    height:130px; 
    background: #FFCB66;
    position:absolute;
    margin-top:-6%;
    z-index:6;
}
.supporters{
    width:100%;
    height:60vh;
    background:
    #FFCB66;
    margin-top:30%;
    display:flex;
    z-index:-3;
}
.sup-img{
 width:260px;
 height:120px;
 z-index:2;
 margin-top:10%;
 margin-left:6%;
}
footer{
    margin-top:-6%;
    width:100%;
    height:60vh;
    background:#2F4858;
    display:flex;
    z-index:7;
}
.col-2{
    display:flex;
    flex-direction:column;
    text-decoration:none;
}
.foot-col{
    width:500px;
    margin-top:10%;

    
}
.golden-logo{
    width:100px;
    margin-left:3%;
}
.copy{
    margin-top:3%;
    width:270px;
    font-family:'Montserrat',sans-serif;
    margin-left:3%;
    color:#fff;
}
.foot-link{
    text-decoration:none;
    font-family:'Montserrat',sans-serif;
    font-size:20px;
    padding-top:4%;
    color:#fff;
}
.mini-text{
    font-family:'Montserrat',sans-serif;
    font-size:22px;
    color:#fff;
}
.mini-text2{
    font-family:'Montserrat',sans-serif;
    font-size:16px;
    color:#fff;
    padding-top:3%;
    font-weight:400;

}
.social-icons{
    display:flex;

}
.social-icons img{
    width:60px;
}
#openmenu{
    position:absolute;
    width:40px;
    margin-left:60%;
    margin-top:4%;
    display:none;
}
#menu-box{
    display:none;
    position:absolute;
}
.links{
    text-decoration:none;
    font-family:'Montserrat',sans-serif;
    margin-left:40%;
    margin-top:6%;
    color:black;
    font-weight:400;
    z-index:15;
}