*{
    padding:0;
    margin:0;
    list-style-type:none;
    box-sizing:border-box;
}
    #header{
        width:790px;
        height:40px;
        position:relative;}
        .black-logo{
            margin-left:32px;
            width:119px;
            height:100px;}
            .vector{
                width:792px;
                height:80px;
                margin-top:5%;}
                .background{
   
                    width:792px;
                    height:30vh;
                   margin-left:-792px;
               
                    z-index:-9;
                    margin-top:5%;}

                    .container-inner-content{
                        width:750px;
                        height:30vh;
                        position:absolute;
                        margin-top:25%;
                        text-align:center;
                    }
                    .maincontent{
                        width:450px;
                        font-size:17px;
                        font-family:'Montserrat',sans-serif;
                        letter-spacing:1px;
                        margin-left:16%;
                        height:4vh;
                        font-weight:400;
                        
                       
                    }
                    .vector2{
                        width:790px;
                        height:60px; 
                        margin-top:65%;
                       
                        position:absolute;
                        margin-top:-1%;
                        z-index:9;
                    }
                    .vector3{
 
                        width:790px;
                        height:70px;
                        margin-top:-25%;
                        z-index:9; 
                        position:absolute;
                    }
                    .image-section{
                        width: 792px;
                        height:30vh;
                        margin-top:12%;
                  
                       
                    }
                    .row{
                        position:relative;
                        width:792px;
                        height:30vh;
                        margin-top:85%;
                       
                    }
                    img{
                        width:195px;
                        z-index:-9;
                    }
                    .link{
                        font-family:'Montserrat',sans-serif;
                        text-decoration:none;
                    
                        font-weight:500;
                        color:black;
                        font-size:18px;
                        margin-left:2.5%;
                        flex-direction:column;
                        display:flex;
                        display:none;
                        position:absolute;}

                      
                        
                        .row2{
                            width:792px;
                            height:30vh;
                            display:flex;
                            margin-top:10%;
                            position:relative;
                        }
                        .col{
                            width:350px;
                            height:6vh;
                            margin-left:8%;
                        }
                        .sub-head{
                            font-family:'Oswald',sans-serif;
                            font-size:18px;
                            color:#2F4858;
                            
                        }
                        .col1{
                            margin-left:11%;
                        }
                        .sub-link{
                            text-decoration:none;
                            color:#fff;
                            background:
                            #FFA800;
                            margin-top:3%;
                            position:absolute;
                            width:150px;
                            text-align:center;
                            margin-left:1%;
                            font-size:16px;
                            font-family:'Montserrat',sanserif;
                            padding:15px 1px;
                            border-radius:50px;
                        
                        }
                        
                   
                    .form-section{
                        width:792px;
                        height:30vh;
                        margin-top:33%;
                    }
                    .form-heading{
                        text-align:center;
                        font-family:'Oswald',sanserif;
                        color:#2F4858;
                        font-size:20px;
                    }
                    form{
                        margin-left:30%;
                        margin-top:3%;
                    }
                    .name{
                        width:196px;
                        height:44px;
                        background:rgba(196, 196, 196, 0.4);
                        border-radius: 6px;
                        border:none;
                        font-family:'Montserrat',sanserif;
                        font-size:18px;
                        padding-left:2px;
                        font-weight:400;
                    }
                    .email{
                        width:196px;
                        height:44px;
                        margin-left:1%;
                        background:rgba(196, 196, 196, 0.4);
                    border-radius: 6px;
                    border:none;
                    font-family:'Montserrat',sanserif;
                    font-size:18px;
                    padding-left:2px;
                    font-weight:400;
                    }
                    .number{
                        margin-top:2%;
                        width:392px;
                        height:44px;
                        background:rgba(196, 196, 196, 0.4);
                    border-radius: 6px;
                    border:none;
                    font-family:'Montserrat',sanserif;
                    font-size:18px;
                    padding-left:2px;
                    font-weight:400;
                    }
                    .description{
                        width:392px;
                        height:232px;
                        margin-top:2%;
                        background:rgba(196, 196, 196, 0.4);
                    border-radius: 6px;
                    border:none;
                    font-family:'Montserrat',sanserif;
                    font-size:18px;
                    padding-left:2px;
                    font-weight:400;
                    }
                    .imp-text{
                        font-family:'Montserrat',sans-serif;
                        font-weight:400;
                        margin-left:30%;
                        color:#2F4858;
                        margin-top:1%;
                    }
                    .check-box{
                        display:flex;
                        font-family:'Montserrat',sans-serif;
                        margin-left:30%;
                        margin-top:2%;
                    }
                    .check-text{
                        margin-left:2%;
                        width:400px;
                        font-family:'Montserrat',sans-serif;
                        font-weight: 400;
                    }
                    .check{
                        background:rgba(196, 196, 196, 0.4);
                        border:none;
                    }
                    .btn{
                        margin-left:44%;
                        font-family:'Montserrat',sans-serif;
                        color:#fff;
                        font-size:21px;
                        background:#FFA800;
                        border:none;
                        width:200px;
                        margin-top:4%;
                        height:45px;
                        border-radius:50px;
                        padding:15px 1px;
                        text-align:center;
                    }
                    .vector5{
                        width:792px;
                        height:80px; 
                        position:absolute;
                        
                        margin-top:38%;
                        z-index:9;
                    }
                    .vector6{
                        width:792px;
                        height:80px; 
                        background: #FFCB66;
                        position:absolute;
                        margin-top:-6%;
                        z-index:6;
                    }
                    .supporters{
                        width:792px;
                        height:30vh;
                        background:
                        #FFCB66;
                        margin-top:40%;
                        display:flex;
                        z-index:-3;
                    }
                    .sup-img{
                     width:160px;
                     height:90px;
                     z-index:2;
                     margin-top:10%;
                     margin-left:6%;
                    }
                    footer{
                        margin-top:5%;
                        width:792px;
                        height:30vh;
                        background:#2F4858;
                        display:flex;
                        z-index:7;
                    }
                    .col-2{
                        display:flex;
                        flex-direction:column;
                        text-decoration:none;
                    }
                    .foot-col{
                        width:350px;
                        margin-top:5%;
                        margin-left:3%;
                    
                        
                    }
                    .golden-logo{
                        width:60px;
                        margin-left:3%;
                    }
                    .copy{
                        margin-top:3%;
                        width:170px;
                        font-family:'Montserrat',sans-serif;
                        margin-left:3%;
                        color:#fff;
                    }
                    .foot-link{
                        text-decoration:none;
                        font-family:'Montserrat',sans-serif;
                        font-size:16px;
                        padding-top:4%;
                        color:#fff;
                    }
                    .mini-text{
                        font-family:'Montserrat',sans-serif;
                        font-size:15px;
                        color:#fff;
                    }
                    .mini-text2{
                        font-family:'Montserrat',sans-serif;
                        font-size:10px;
                        color:#fff;
                        padding-top:3%;
                        font-weight:400;
                    
                    }
                    .social-icons{
                        display:flex;
                    
                    }
                    .social-icons img{
                        width:60px;
                    }
                    #openmenu{
                        position:absolute;
                        width:40px;
                        margin-left:85%;
                        margin-top:-5%;
                        display:block;
                        z-index:9;
                    }
                    #menu-box{
                        display:block;
                        display:flex;
                        flex-direction:column;
                        width:790px;
                        height:45vh;
                        background:#fff;
                        z-index:12;
                        position:absolute;
                        margin-left:-790px;
                    }
                    #closemenu{
                        width:40px;
                        position:absolute;
                        margin-left:4px;
                        margin-top:2px;
                    }
                    